
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Kodinger">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>API Credentails</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/assets/css/apicredentials.css" rel="stylesheet" />
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">>
    <script src="/vendors/jquery/dist/jquery.min.js"></script>

    <script>
        function validateApiCredentials() {
            var clientId = $('#client-id').val();
            var secretKey = $('#secret-key').val();

            var apiCredentails = {
                "ClientId": clientId,
                "SecretKey": secretKey,
                "Mode": mode
            };

            $.ajax({
                url: '/Home/ValidateApiCredentails',
                type: "post",
                contentType: 'application/json',
                data: JSON.stringify({
                    "apiCredentails": apiCredentails
                }),
                success: function (data) {
                    if (data == "Failue") {
                        $('.alert-warning').show();
                        $('.alert-warning').text("Authentication Failed. Please check your api credentials");
                    } else if (data == "OK") {
                        window.location.href = "/Home/Index";
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        };

        function changeMode() {
            var checkbox = $('#mode');
            if (checkbox.prop('checked')) {
                //$('#label-email').html("Sandbox Email Address <i class='menu-icon fa fa-question-circle' data-toggle='tooltip' title='The emaill address of your PayPal account' style='cursor:help'></i>");
                //$('#label-merchant-id').html("Sandbox Merchant Id <i class='menu-icon fa fa-question-circle' data-toggle='tooltip' title='The merchant id of your PayPal account' style='cursor:help'></i>");
                $('#label-client-id').html("Sandbox Client Id <i class='menu-icon fa fa-question-circle' data-toggle='tooltip' title='The client id of api' style='cursor:help'></i>");
                $('#label-secret-key').html("Sandbox Secret Key <i class='menu-icon fa fa-question-circle' data-toggle='tooltip' title='The secret key of api' style='cursor:help'></i>");
                mode = "sandbox";
            } else {
                //$('#label-email').html("Live Email Address <i class='menu-icon fa fa-question-circle' data-toggle='tooltip' title='The emaill address of your PayPal account' style='cursor:help'></i>");
                //$('#label-merchant-id').html("Live Merchant Id <i class='menu-icon fa fa-question-circle' data-toggle='tooltip' title='The merchant id of your PayPal account' style='cursor:help'></i>");
                $('#label-client-id').html("Live Client Id <i class='menu-icon fa fa-question-circle' data-toggle='tooltip' title='The client id of api' style='cursor:help'></i>");
                $('#label-secret-key').html("Live Secret Key <i class='menu-icon fa fa-question-circle' data-toggle='tooltip' title='The secret key of api' style='cursor:help'></i>");
                mode = "live"
            }
        }
    </script>
</head>
<body class="my-login-page">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper">
                    <div class="brand">
                        <img src="~/assets/img/logo.png" />
                    </div>
                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title">API Credentials</h4>
                            <div class="alert alert-info"><a href="https://developer.paypal.com/api/rest/production/#link-obtainyourlivecredentials" target="_blank">How to get API credentials</a></div>
                            <div class="alert alert-warning" style="display:none;"></div>
                            <div method="POST">
                                <div class="form-group">
                                    <div class="custom-checkbox custom-control">
                                        <input type="checkbox" onclick="changeMode()" name="mode" id="mode" class="custom-control-input">
                                        <label for="mode" class="custom-control-label">You can use the sandbox mode for test.</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="client-id" id="label-client-id">Live client Id <i class="menu-icon fa fa-question-circle" data-toggle="tooltip" title="The client id of your api" style="cursor:help"></i></label>
                                    <input id="client-id" type="text" class="form-control" name="client-id" value="" required autofocus>
                                </div>

                                <div class="form-group">
                                    <label for="secret-key" id="label-secret-key">
                                        Live Secret Key <i class="menu-icon fa fa-question-circle" data-toggle="tooltip" title="The secret key of your api" style="cursor:help"></i>
                                    </label>
                                    <input id="secret-key" type="password" class="form-control" name="password" required data-eye>
                                </div>

                                <div class="form-group m-0">
                                    <button type="submit" class="btn btn-primary btn-block" onclick="validateApiCredentials()">
                                        Save changes
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        Copyright &copy; 2017 &mdash; Your Company
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
